.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97vh;
    width: 99vw;
}

.entryBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.plus {
    background-color: #cfcfcf;
    border-radius: 100%;
    transition: .3s ease-in-out;
}
.plus:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.plus:active {
    transform: scale(1);
    transition: .1s;
}

.userInput {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

#titleInput {
    margin-bottom: 5%;
}

#authorInput {
    margin-bottom: 5%;
}

#pagesInput {
     margin-bottom: 3%;
}

#submit {
    height: auto;
    width: auto;
    font-size: 1rem;
}

.unread {
    margin-bottom: 4%;
}

label {
    font-size: 1.2rem;
}

.libraryDisplay {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bookDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.addedBooks {
    border: 1px solid black;
    width: auto;
    white-space: nowrap;
    padding: 15px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.trash {
    height: 1rem;
    width: 1rem;
    margin-top: 5px;
}
.trash:hover {
    cursor: pointer;
}